@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@sweetalert2/themes/dark/dark.scss";
@import "@sweetalert2/src/sweetalert2.scss";

*::-webkit-scrollbar {
  width: 12px;
}


*::-webkit-scrollbar-thumb {
  @apply bg-secondary-regular;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-light;
}

h1,
h2 {
  @apply text-primary-regular dark:text-primary-light font-body font-semibold drop-shadow-text;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

p,
label,
h3 {
  @apply text-secondary-regular dark:text-secondary-light font-body drop-shadow-text;
}

body.dark *::selection {
  background-color: #450099;
}

textarea,
input,
select {
  @apply bg-slate-100 dark:bg-slate-500 w-full
  rounded-lg border border-black dark:border-white px-2 py-1 
  drop-shadow-lg text-secondary-regular dark:text-secondary-light;
}

select {
  @apply p-2 mt-1 text-secondary-regular dark:text-secondary-light dark:border-white focus:outline-none
  focus:ring-2 focus:ring-primary-regular focus:border-transparent transition-colors duration-300 ease-in-out;
}
.action-button {
  @apply bg-primary-regular dark:bg-primary-light text-white rounded-md px-4 py-2 mb-4 drop-shadow-lg hover:bg-primary-light
   dark:hover:bg-primary-regular transition-colors duration-300 ease-in-out active:bg-primary-regular
    dark:active:bg-primary-light;
}

.hover-button {
  @apply dark:hover:opacity-70 hover:opacity-70 transition-opacity duration-300 ease-in-out active:opacity-100;
}

.swal2-popup,
.swal2-title,
.swal2-content,
.swal2-button {
  @apply font-body text-secondary-regular dark:text-secondary-light 
  bg-slate-100 dark:bg-slate-700;
}

.swal2-popup h2,
.swal2-title h2,
.swal2-content h2,
.swal2-button h2 {
  @apply drop-shadow-none text-primary-regular dark:text-primary-light;
}

.swal2-confirm {
  background-color: #298ff1 !important;
  font-family: "Open Sans";
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#search-button {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  outline: none;
  transition: all 0.3s ease;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.error {
  @apply text-red-500;
}
